<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['']">
            Home
        </a>
        <a class="nav-item nav-link active" [routerLink]="['juegos']">
            Lista de Futbolistas
        </a>
        <a class="nav-item nav-link active" [routerLink]="['acercade']">
            Acerca de
        </a>
        <a class="nav-item nav-link active" [routerLink]="['contactenos']">
            Agregar
        </a>
      </div>
    </div>
</nav>
